<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/partials/style/nav-style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/xrl7jpk.css">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/templates/initial.html" class="brand-logo">Recipe Master</a>
            <ul id="nav" class="">
                <li><a href="/templates/grocery-list.html">Grocery Assistant</a></li>
                <li><a href="/templates/savedReceipes.html">Your Recipes</a></li>
                <li><a href="/templates/pantry.html">Pantry</a></li>
            </ul>
            <img a href="/templates/userAccount.html" src="/templates/img/profile.png" class="profile-img">
        </div>
        
    </nav>
    
</body>
</html>
