<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Document metadata -->
    <title>Grocery Assistant</title>
    <meta charset="utf-8"> <!-- Character encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive viewport -->
    <link rel="stylesheet" href="https://use.typekit.net/xrl7jpk.css">
    <link rel = "StyleSheet" href = "/templates/style/grocery-list-style.css">
    <style>
    </style>
</head>
    <body>
        <main id="page-layout">
            <section id="ingredient-search">
                <input type="text" placeholder="Enter ingredient" id="ingredient-searchbar">
                <input type="submit" id="addBtn" class = "btn" value="Add">
            </section>
            
            <section id="grocery-list">
                <h1>Grocery List</h1>
                <div id="ingredient-list-container">
                    <form id = "ingredient-list">
                        <!-- Placeholder Ingredients for display purposes, replace with appropriate Django implementation -->
                        <label for="ingredient1">
                            <input type="checkbox" id="ingredient1" name="ingredient" class = "ingredient" value="Ingredient1">
                            Parmesan
                        </label>
                        <hr class = "ingredient-spacer"/> <!-- Insert spacer for desired aesthetic -->
                        
                        <label for="ingredient2">
                            <input type="checkbox" id="ingredient2" name="ingredient" class = "ingredient" value="Ingredient2">
                            Whole Milk
                        </label>
                        <hr class = "ingredient-spacer"/> <!-- Insert spacer for desired aesthetic -->

                        <label for="ingredient3">
                            <input type="checkbox" id="ingredient3" name="ingredient" class = "ingredient" value="Ingredient3">
                            Mozzarella
                        </label>
                        <hr class = "ingredient-spacer"/> <!-- Insert spacer for desired aesthetic -->

                        <label for="ingredient4">
                            <input type="checkbox" id="ingredient4" name="ingredient" class = "ingredient" value="Ingredient4">
                            Thyme
                        </label>
                        <hr class = "ingredient-spacer"/> <!-- Insert spacer for desired aesthetic -->

                        <label for="ingredient5">
                            <input type="checkbox" id="ingredient5" name="ingredient" class = "ingredient" value="Ingredient5">
                            Heavy Whipping Cream
                        </label>
                        <hr class = "ingredient-spacer"/> <!-- Insert spacer for desired aesthetic -->
                        <!-- End of placeholder ingredients -->
                    </form>
                    <div id="saveBtn-container">
                        <input type="submit" id="saveBtn" class="btn" value="Save Grocery List">
                    </div>
                </div>
            </section>
            
            <section id="recipe-list-container">
                <h1>Meal Options:</h1>
                <div id="recipe-list">
                    <!-- Placeholder recipes for display purposes, replace with appropriate Django implementation -->
                    <div class="recipe">
                        <div class = "recipe-details">
                            <h2 class = "recipe-name">Stuffed Shells</h2>
                            <p>Prep Time: 30 minutes</p>
                            <p>Servings: 12</p>
                        </div>
                        <input type="checkbox" id="favorite1" class="favorite-checkbox">
                        <label for="favorite1" class="favorite-label"></label>
                    </div>
                    <hr class = "recipe-spacer"/> <!-- Insert spacer for desired aesthetic -->
                
                    <div class="recipe">
                        <div class ="recipe-details">
                            <h2 class = "recipe-name">Lasagna Soup</h2>
                            <p>Prep Time: 30 minutes</p>
                            <p>Servings: 12</p>
                        </div>
                        <input type="checkbox" id="favorite2" class="favorite-checkbox">
                        <label for="favorite2" class="favorite-label"></label>
                    </div>
                    <hr class = "recipe-spacer"/> <!-- Insert spacer for desired aesthetic -->

                    <div class="recipe">
                        <div class ="recipe-details">
                            <h2 class = "recipe-name">Cajun Mac & Cheese</h2>
                            <p>Prep Time: 30 minutes</p>
                            <p>Servings: 12</p>
                        </div>
                        <input type="checkbox" id="favorite3" class="favorite-checkbox">
                        <label for="favorite3" class="favorite-label"></label>
                    </div>
                    <hr class = "recipe-spacer"/> <!-- Insert spacer for desired aesthetic -->

                    <div class="recipe">
                        <div class ="recipe-details">
                            <h2 class = "recipe-name">White Chicken Enchiladas</h2>
                            <p>Prep Time: 30 minutes</p>
                            <p>Servings: 12</p>
                        </div>
                        <input type="checkbox" id="favorite4" class="favorite-checkbox">
                        <label for="favorite4" class="favorite-label"></label>
                    </div>
                    <hr class = "recipe-spacer"/> <!-- Insert spacer for desired aesthetic -->

                    <div class="recipe">
                        <div class ="recipe-details">
                            <h2 class = "recipe-name">Chicken and Wild Rice Soup</h2>
                            <p>Prep Time: 30 minutes</p>
                            <p>Servings: 12</p>
                        </div>
                        <input type="checkbox" id="favorite5" class="favorite-checkbox">
                        <label for="favorite5" class="favorite-label"></label>
                    </div>
                    <hr class = "recipe-spacer"/> <!-- Insert spacer for desired aesthetic -->
            
                    <!-- End of placeholder recipes -->
                </div>
            </section>
        </main>
    </body>
</html>
