<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Master</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#ingredient").on("input", function() {
                var query = $(this).val().toLowerCase();
                var uniqueIngredientNames = {{ uniqueIngredientNames|safe }};
                var suggestions = [];
                for (var i = 0; i < uniqueIngredientNames.length; i++) {
                    if (uniqueIngredientNames[i].toLowerCase().startsWith(query)) {
                        suggestions.push(uniqueIngredientNames[i]);
                        if(suggestions.length >= 50) {
                            break;
                        }
                    }
                }
                suggestions.sort(function(a, b) {
                    return a.length - b.length;
                });
                displaySuggestions(suggestions);
            });

            function displaySuggestions(suggestions) {
                var ul = $("ul.autocomplete");
                ul.empty();
                if (suggestions.length >= 15) {
                    suggestions = suggestions.slice(0, 15);
                }
                for (var i = 0; i < suggestions.length; i++) {
                    ul.append("<li>" + suggestions[i] + "</li>");
                }
            }

            $(document).on("click", "ul.autocomplete li", function() {
                var selectedText = $(this).text();
                $("#ingredient").val(selectedText);
                $("ul.autocomplete").empty();
            });
        });

    </script>
    <style>
        ul.autocomplete {
            list-style-type: none;
            padding: 0;
        }
        ul.autocomplete li {
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Recipe Master</h1>
<form id="ingredientForm" method="POST">
    {% csrf_token %}
    <input type="text" name="ingredient" id="ingredient" placeholder="Enter ingredient..." value="{{ query }}">
    <ul class="autocomplete"></ul>
    <button type="submit" name="addIngredient">Add Ingredient</button>
</form>
<h2>Ingredients List:</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="{% url 'submitIngredientsForLater' %}">
        {% csrf_token %}
        <button type="submitforlater" name="submit_ingredients">Submit Ingredients</button>
    </form>
</body>
</html>