<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/xrl7jpk.css">
    <link rel="stylesheet" href="saved-recipes-style.css">
    <title>Recipe Page</title>
    <style>
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <header>
        <h1>Saved Recipes</h1>
    </header>
    <main>
        <!-- Placeholder Recipe Containers for demonstration purposes, replace with appropriate Django Implementation-->
        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 1</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 2</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 3</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts:</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 4</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 5</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 6</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 7</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 8</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 9</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 10</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 11</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 12</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 13</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 14</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>

        <div class="recipe-container">
            <h2 class = "recipe-name">Recipe 15</h2>
            <p><strong>Ingredients</strong></p>
            <ul>
                <li>Ingredient 1</li>
                <li>Ingredient 2</li>
                <li>Ingredient 3</li>
                <!-- Add more ingredients as needed -->
            </ul>
            <p><strong>Amounts</strong></p>
            <ul>
                <li>Item 1 Amount</li>
                <li>Item 2 Amount</li>
                <li>Item 3 Amount</li>
                <!-- Add more steps as needed -->
            </ul>
            <p class = "recipe-link"><a href="">Full Recipe Details</a></p>
        </div>
        <!-- End of Placeholder Recipe Containers-->
    </main>
</body>

</html>
